* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.tab {
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.tab.tab-1 {
    background-image: url("../../images/10.jpg");
}

.tab.tab-2 {
    background-image: url("../../images/13.jpg");
}

.navbar {
    background-color: rgba(17, 25, 47, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 9999;
}

.navbar-brand {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.nav-link, .navbar-brand {
    transition: color 0.3s linear;
}

.nav-link:hover, .navbar-brand:hover {
    color: #00fd00;
}

.nav-link.active {
    position: relative;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 75%;
    height: 2px;
    background-color: #ffffff;
    transition: background-color 0.3s linear;
}

.nav-item.active .nav-link:hover:after {
    background-color: #00fd00;
}

.wraper-content {
    width: fit-content;
    text-align: center;
}

.hero-section-heading {
    font-size: 56px;
    color: #ffffff;
    line-height: 65px;
}

.wrapper-button {
    background-color: #ff005a;
    border: none;
    color: white;
    padding: 16px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;
    border-radius: 30px;
    outline: none !important;
    transition: all linear 0.3s;
}

.wrapper-button:hover {
    border-radius: 5px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(5px, -50%);
    color: #fff !important;
    /*background-color: #131d36 !important;*/
    /*border-radius: 3px;*/
    outline: none !important;
}

.owl-carousel .owl-nav button.owl-next i, .owl-carousel .owl-nav button.owl-prev i {
    font-size: 25px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    padding: 8px 12px !important;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 30px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 30px;
}

.main-section {
    padding: 80px 0px;
}

.main-heading {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
}

.txt-color {
    color: #1c127a;
    letter-spacing: 1px;
}

.main-para {
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}

.main-para.bold {
    font-weight: 700;
}

.gray-section {
    background-color: #0b172f;
}

.gray-section .txt-color {
    color: #ffffff;
}

.main-section.gray-section {
    position: relative;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#particles-js .col-12 {
    z-index: 2;
}


.testimonial_section {
    display: block;
    overflow: hidden;
    background-color: gainsboro;
}

.testimonial_section:after {
    display: block;
    clear: both;
    content: "";
}

.testimonial_section .about_content {
    background-color: #020d26;
    padding-top: 77px;
    padding-right: 210px;
    padding-bottom: 62px;
    position: relative;
}

.testimonial_section .about_content .background_layer {
    background-color: #020d26;
    width: auto;
    margin-left: -200px;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.testimonial_section .about_content .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
}

.testimonial_section .about_content .layer_content .section_title {
    margin-bottom: 24px;
    position: relative;
}

.testimonial_section .about_content .layer_content .section_title:after {
    display: block;
    clear: both;
    content: "";
}

.testimonial_section .about_content .layer_content .section_title h5 {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #818a8f;
    margin-top: -5px;
    margin-bottom: 6px;
}

.testimonial_section .about_content .layer_content .section_title h2 {
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 51px;
    margin-bottom: 0px;
    color: #fff;
}

.testimonial_section .about_content .layer_content .section_title h2 strong {
    font-weight: 600 !important;
    width: 100%;
    display: block;
}

.testimonial_section .about_content .layer_content .section_title .heading_line {
    position: relative;
}

.testimonial_section .about_content .layer_content .section_title .heading_line span {
    transition: all 0.5s ease-in-out 0s;
    position: relative;
}

.testimonial_section .about_content .layer_content .section_title .heading_line span:after {
    content: "";
    right: auto;
    left: 69px;
    position: absolute;
    bottom: 28px;
    width: 17px;
    margin-left: 0;
    border-bottom-width: 3px;
    border-bottom-color: #cacaca;
    border-bottom-style: solid;
}

.testimonial_section .about_content .layer_content .section_title .heading_line:after {
    content: "";
    left: 1%;
    margin-left: 0;
    position: absolute;
    bottom: 28px;
    width: 59px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff5e14;
}

.testimonial_section .about_content .layer_content .section_title p {
    color: #fff;
    margin: 0 0 15px;
}

.testimonial_section .about_content .layer_content a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
}

.testimonial_section .about_content .layer_content a i {
    font-size: 18px;
    vertical-align: middle;
}

.testimonial_section .about_content .layer_content a:hover {
    color: #ff5e14;
}

.testimonial_section .testimonial_box {
    margin-top: 60px !important;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container {
    background-color: #ff5e14;
    margin-left: -170px !important;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container .background_layer {
    background-color: #0b172f;
    width: auto;
    margin-right: -200px;
    right: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
    display: block;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
    margin: 10px 0 10px 0;
    padding: 62px 0px 72px 50px;
    position: relative;
    text-align: center;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
    margin-left: 150px;
    margin-top: 69px;
    padding: 45px 40px 45px 40px;
    z-index: 1;
    position: relative;
    background-color: #fff;
    transition: all 0.5s ease-in-out 0s;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
    margin-bottom: 15px;
    position: relative;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
    content: "";
    width: 30px;
    display: block;
    height: 2px;
    text-align: center;
    left: 46%;
    margin-top: 6px;
    background-color: #ff5e14;
    position: absolute;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
    padding-top: 0;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #020d26;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #5d6576;
    font-style: italic;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
    border: none;
    position: absolute;
    top: 0;
    left: 55px;
    top: 80px;
}

.testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
    border: 5px solid #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    width: 35%;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
    position: absolute;
    top: 165px;
    right: 42px;
    border-radius: 0;
    background: #ff5e14;
    display: block;
    outline: 0;
    width: 34px;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
    background: #020d26;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
    position: absolute;
    top: 165px;
    right: 5px;
    border-radius: 0;
    display: block;
    background: #ff5e14;
    outline: 0;
    width: 34px;
    text-align: center;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
}

.testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
    background: #020d26;
}

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.footer-form label {
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 14px;
    margin-bottom: 3px;
}

.footer-form input, .footer-form textarea {
    padding: 10px 20px;
    border-radius: 30px;
}

.footer-form .wrapper-button {
    padding: 10px 30px;
}

.footer-form textarea {
    resize: none;
}

.footer-link {
    height: 34px;
    width: 34px;
    background-color: #ff005a;
    border: none;
    color: white;
    position: relative;
    display: inline-block;
    transition: border-radius linear 0.2s;
    border-radius: 2px;

}
.footer-link:hover {
    border-radius: 50%;
}

.footer-link::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-family: "Font Awesome 5 Brands";
    font-weight: 500;
}
.footer-link.icon-1::after {
    content: "\f39e";
}
.footer-link.icon-2::after {
    content: "\f16d";
}
.footer-link.icon-3::after {
    content: "\f099";
}
.footer-link.icon-4::after {
    content: "\f232";
}
.links {
    text-decoration: none !important;
}
#contact_us.main-section {
    padding-bottom: 20px;
}


#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}
#TopBtn {
    background-color: #ff005a;
    color: white;
    padding: 7px 12px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition:  opacity .5s, visibility .5s;
}
#TopBtn.show {
    opacity: 1;
    visibility: visible;
}


@media all and (max-width: 991px) {
    .testimonial_section .about_content {
        padding-right: 15px !important;
    }

    .testimonial_section .about_content .background_layer {
        width: 200% !important;
    }

    .testimonial_section .testimonial_box {
        margin-top: 0 !important;
    }

    .testimonial_section .testimonial_box .background_layer {
        width: 200% !important;
        margin-left: -200px;
    }

    .testimonial_section .testimonial_box .about_content {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-top: 28% !important;
    }

    .testimonial_section .testimonial_box .testimonial_container {
        margin-left: -15px !important;
    }

    .testimonial_section .testimonial_box .testimonial_container .testimonials {
        margin: 0px 0 20px 0;
    }

    .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
        margin-left: -36px !important;
    }

    .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
        display: none;
    }
}